.comp-in-table-button {
  color: antiquewhite;
}

.comp-in-form {
  color: beige;
}

.comp-in-form-text {
  font-size: small;
  font-weight: bolder;
  right: 259px;
  position: absolute;
  top: 5px;
}
